@use '../functions' as fn;

$component-class-name: '.text-input';
$medium-size: (
    x: 0.5rem,
    y: 0.5rem,
);
$large-size:(
    x: 0.75rem,
    y: 0.75rem
);
$border-width: 1px;

#{$component-class-name} {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: fn.get-color(white);
    
    &:focus {
        outline: none;
    }

    &::placeholder {
        transition: 0.15s ease;
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &--medium {
        padding: map-get($medium-size, x) map-get($medium-size, y);
    }

    &--large {
        padding: map-get($large-size, x) map-get($large-size, y);
        font-size: 1rem;
    }

    &--plain {
        
    }

    &--outlined {
        border: $border-width solid fn.get-color(brightGrey);

        // Shrink 1px if its size is medium
        &#{$component-class-name}--medium {
            padding: calc(map-get($medium-size, x) - $border-width) calc(map-get($medium-size, y) - $border-width);
        }

        // Shrink 1px if its size is large
        &#{$component-class-name}--large {
            padding: calc(map-get($large-size, x) - $border-width) calc(map-get($large-size, y) - $border-width);
        }

        // Paint border color if it's error
        &#{$component-class-name}--error {
            border-color: fn.get-color(danger);
        }

        &:focus {
          border-color: fn.get-color(warning)
        }
    }

    &--solid {
        background: fn.get-color(brightGrey);
    }
}