$font: (
    global: 'Lexend Deca Variable',
);

$color: (
    primary: #007fff,
    warning: #ffd700,
    success: #87d300,
    danger: #ff3533,
    transparent: rgba(0, 0, 0, 0),
    white: white,
    brightGrey: #eeeeee,
);

$tranparent-color: (
    veryLightBlack: rgba(0, 0, 0, 0.16),
);

$shadow-intensity: (
    light: rgba(0, 0, 0, 0.16),
    medium: rgba(0, 0, 0, 0.24),
    large: rgba(0, 0, 0, 0.48),
);

$shadow-thickness: (
    small: 0rem 0.0625rem 0.25rem,
    medium: 0rem 0.125rem 0.5rem,
    large: 0rem 0.25rem 1rem,
);
